<%= render 'shared/avatar-black' %>

<div class="container">
    <h2> All trips</h2>

    <div id="map"
        style="width: 345px; height: 400px; top: 0 !important; right: auto !important; left: auto !important;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
<br>
    <div class="container-card">
    <% @trips.each do |trip| %>
        <div class="box-card">
        <div class="box-info">
        <h3> <strong><%= trip.name  %></strong></h3>
        <%= "#{trip.kilometers} km"  %> <br>
        <%= "#{trip.duration}"  %>
        </div>
        <div class="box-review">
         <%= link_to 'View this trip', trip_path(trip), class:'btn-index' %>
        </div>
        </div>
    <% end %>
    
    </div>
    
    
    



</div>
