<%= render 'shared/avatar-black' %>
<div class="container">
<div>
  <h2><%= @trip.name  %></h2>
  <% @note.times do %>
  <i class="fas fa-star"></i>
  <% end %>
  <p><strong>Km:</strong> <%= @trip.kilometers %></p>
  <p><strong>Duration:</strong> <%= @trip.duration %></p>
  <p><strong>Difficulty:</strong> <%= @trip.difficulty %></p>
  <p><%= @trip.description %></p>
</div>
  <div id="trip-map"
    style="width: 345px; height: 400px; top: 0 !important; right: auto !important; left: auto !important;"
    data-waypoints="<%= @waypoints.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>



<%= cl_image_tag @trip.photo.key, wdth: 200, height: 400, crop: :fill %>

<%= render 'bookings/new_booking' %>
</div>


