<%= render 'shared/avatar-white' %>
<div id="trip-header">
  <%= cl_image_tag @trip.photo.key, id:"trip-photo" %>
  <div id="back">
    <i class="fas fa-long-arrow-alt-left back"></i>
    <%= link_to ' Back', trip_path, class:'back' %>
  </div>
</div>
<div class="container">
  <div>
    <h2><%= @trip.name  %></h2>
    <div id='note'>
      <% @note.times do %>
        <i class="fas fa-star good"></i>
      <% end %>
      <% (5-@note).times do %>
        <i class="fas fa-star bad"></i>
      <% end %>
    </div>

    <p><strong>Km: </strong> <%= @trip.kilometers %></p>
    <p><strong>Duration: </strong> <%= @trip.duration %></p>
    <p><strong>Difficulty: </strong>
      <% @trip.difficulty.times do %>
      <i class="fas fa-bolt"></i>
      <% end %></p>
    <p><%= @trip.description %></p>
  </div>

  <p><strong>GPX trails:</strong></p>
  <div id="trip-map"
      style="width: 85vw; height: 400px;"
      data-waypoints="<%= @waypoints.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <p><strong>Equipments required:</strong></p>
  <div class="equipments">
    <% @trip.equipments.each do |equipment| %>
      <p class="equipment <%= equipment %>"> <%= equipment %></p>
    <% end %>
  </div>

<%# <% @reviews.each do |review| %>
<%# <%= review.rating %>
<%# <% end %>

<%= render 'bookings/new_booking' %>
</div>


