<%= render 'shared/avatar-white' %>
<div id="back">
  <i class="fas fa-long-arrow-alt-left back"></i>
  <%= link_to ' Back', trips_path, class:'back' %>
</div>
<div class="trip-show-map" id="trip-map"
  style="width: 100%; height: 400px;"
  data-waypoints="<%= @waypoints.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="container" id="swipe">
  <div>
    <h2><%= @trip.name  %></h2>
    <p><%= @trip.subtitle %></p>
    <% if @is_favorite %>
      <%= link_to trip_favorite_path(@trip), method: :delete do %>
      <i class="fas fa-heart" id="heart-favorite-full"></i>
      <% end %>
    <% else %>
      <%= link_to trip_favorites_path(@trip), method: :post do %>
      <i class="far fa-heart" id="heart-favorite"></i>
      <% end %>
    <% end %>
    <div id='note'>
      <% @note.times do %>
        <i class="fas fa-star good"></i>
      <% end %>
      <% (5-@note).times do %>
        <i class="far fa-star bad"></i>
      <% end %>
    </div>
                <i class="fas fa-bolt mr-2"></i>difficulty <%= @trip.difficulty %>  <br>
                <i class="fas fa-hiking mr-2"></i><%= @trip.kilometers.round  %> km <br>
                <i class="fas fa-stopwatch mr-2"></i><%= @trip.duration  %> <br> <br>
    <p><%= @trip.description %></p>
  </div>
  <div class="trip-photos">
    <%= cl_image_tag @trip.photo.key, id:"trip-photo" %>
  </div>
  <p><strong>Equipments required :</strong></p>
  <div class="equipments">
    <% @trip.equipments.each do |equipment| %>
      <p class="equipment <%= equipment %>"> <%= equipment %></p>
    <% end %>
  </div>
  <div class="reviews">
    <% @trip.reviews.each do |review| %>
      <%= cl_image_tag review.user.photo.key, class: "show-avatar"%>
      <%= review.user.first_name %>
      <% review.rating.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% (5 - review.rating).times do %>
        <i class="far fa-star"></i>
      <% end %>
      <div class="review-content">
        <%= review.content %>
      </div>
    <% end %>
  </div>
  <%= render 'bookings/new_booking' %>
</div>


