
<div class="container-fav">
<%= render 'shared/avatar-black' %>
  <div class="left-fav">
  </div>
  <div class="right-fav">
    <br>

    <h3 class="titre-favorites"> <strong>My favorites trips</strong></h3>
    <br>
    <% if @trips %>
      <% @trips.each do |trip| %>
        <div class="box-card">
          <div class="box-info">
            <h4> <strong><%= trip.name  %></strong></h4>
            <p><strong>Difficulty: </strong>
              <% trip.difficulty.times do %>
                <i class="fas fa-bolt"></i>
              <% end %></p>
            <%= "#{trip.kilometers.round} km"  %> <br>
            <%= "#{trip.duration}"  %> <br>
          <%= link_to 'View this trip', trip_path(trip), class:'btn-index' %>
          </div>
          <div class="box-review" style="background-image:url('<%= cl_image_path(trip.photo.key) %>')">
            <p class="show-stars">
              <% trip.average_rating.round.times do %>
                <i class="fas fa-star" style= 'color : #00D3FE'></i>
              <% end %>
              <% (5 - trip.average_rating.round).times do %>
                <i class="fas fa-star" style= 'color: rgba(0, 0, 0, 0.534)'></i>
              <% end %>
            </p>
          </div>
        </div>
        <br>
      <% end %>
    <% else %>
      No favorites yet
    <% end %>
  </div>
  </div>
  </div>
</div>
