<%= render 'shared/avatar-black' %>
<div id='pagetitle'>
<h1>Chatrooms</h1>
<p>For future trips</p>
</div>
<% @chatrooms.each do |chat| %>
  <div>

    <h2><%= link_to chat.name, booking_path(current_user.find_chatroom(chat)) %></h2>
    <% if chat.messages.any? %>
      <p><%= chat.messages.last.content.truncate(50) %></p>
      <%= time_ago_in_words(chat.messages.last.created_at) %>
      <p><%= cl_image_tag chat.messages.last.user.photo.key %> </p>
    <% end %>
  </div>
<% end %>