
<div class="popupbtn">
  PLAN THIS TRIP
</div>

<div class="popupframe d-none">
<%# display none pour cacher %>
  <div class="popupframe-content">

    <div class='popupclose'>
      <i class="fas fa-times"></i>
    </div>
    <h2 id="popup-title">✌️ Let's plan <%= @trip.name %></h2>
    <%= simple_form_for [@trip, @booking] do |f| %>
      <%= f.date_field :begin_date, value: Date.today, id: "begin-date"%>
      <%= f.select :user_status, options_for_select([["Yes", "Open to match"], ["No", "Not open to match"]]), prompt:'Need teammates?' %>
      <br>
      <%= f.submit "LET'S DO IT", class: "btn-big"%>
    <% end %>
  </div>
</div>
