
  <div class="booking-box">
    <div class="popup" onclick="myFunction()">PLAN THIS TRIP
  <span class="popuptext" id="myPopup">
  <h2><%= @trip.name %></h2>
  <%= simple_form_for [@trip, @booking] do |f| %>
  <a href="javascript: closepopup()"><i class="fas fa-times"></i></a>
        <%= f.date_field :begin_date, value: Date.today, id: "begin-date"%>
        <%= f.select :user_status, options_for_select(%w[Yes No]), prompt:'Need teammates?' %>
        <br>
        <%= f.submit "LET'S DO IT", class: "btn-blue"%>
      <% end %>
      
  </span>
</div>
  </div>

<script>
// When the user clicks on div, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>