<%= render 'shared/avatar-black' %>
<div id="back">
  <i class="fas fa-long-arrow-alt-left back"></i>
  <%= link_to ' Back', dashboard_path, class:'back' %>
</div>
<div class="booking-header" style="background-image: url(<%= cl_image_path @booking.trip.photo.key %>)">
</div>
<div class="container">
  <h2><%= @booking.trip.name %></h2>
  <div class="date-loc">
    <div class="booking-date">
      <i class="fas fa-clock"></i>
      <p><%= @booking.begin_date %></p>
    </div>
    <div class="booking-location">
      <i class="fas fa-map-marker-alt"></i>
      <p><%= @booking.trip.location %></p>
    </div>
  </div>
    <p><%= @booking.trip.subtitle %></p>
    <div class="booking-social">
      <div class="booking-avatar">
        <% @booking_users.each do |user| %>
          <%= cl_image_tag user.photo.key, class: "avatar-photo"%>
        <% end %>
      </div>
      <% if @booking.user_status == "Open to match"%>
        <div class="status-user">
          <p><i class="fas fa-circle"></i> <%= @booking.user_status %> </p>
          <% if @booking.chatroom.bookings.count == 1 %>
            <p id="status-text"> You will be notified if someone books this trip</p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div data-openweathertoken="<%= ENV['OPENWEATHER_API_KEY'] %>" class="contain-meteo d-flex">
      <div id="day-0" class="meteo">
        <div class="meteo-icon">
          <img class="img" src="" alt="">
        </div>
        <div class="degres">
        </div>
        <div class="main">
        </div>
      </div>
      <div id="day-1" class="meteo">
        <div class="meteo-icon">
          <img class="img" src="" alt="">
        </div>
        <div class="degres">
        </div>
        <div class="main">
        </div>
      </div>
      <div id="day-2" class="meteo">
        <div class="meteo-icon">
          <img class="img" src="" alt="">
        </div>
        <div class="degres">
        </div>
        <div class="main">
        </div>
      </div>
      <div id="day-3" class="meteo">
        <div class="meteo-icon">
          <img class="img" src="" alt="">
        </div>
        <div class="degres">
        </div>
        <div class="main">
        </div>
      </div>
      <div id="day-4" class="meteo">
        <div class="meteo-icon">
          <img class="img" src="" alt="">
        </div>
        <div class="degres">
        </div>
        <div class="main">
        </div>
      </div>
    </div>
  <div class="map-booking" data-lat="<%= @booking.trip.start_lat %>" data-long="<%= @booking.trip.start_long %>">
    <div class="trip-booking-map" id="trip-map"
      style="width: 100%; height: 300px; top: 0 !important; right: auto !important; left: auto !important;"
      data-waypoints="<%= @booking.trip.waypoints.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="btn-booking">
    <a href="https://www.airbnb.com/s/<%= @booking.trip.location %>/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_dates%5B%5D=april&flexible_trip_dates%5B%5D=march&flexible_trip_lengths%5B%5D=weekend_trip&date_picker_type=calendar&checkin=2021-03-06&checkout=2021-03-07&adults=1&source=structured_search_input_header&search_type=filter_change">FIND A PLACE TO STAY 🏠</a>
  </div>
  <div class="equipments">
    <p class="w-100"> <strong>Equipments :</strong></p>
    <% @booking.trip.equipments.each do |equipment| %>
      <p class="equipment <%= equipment %>"> <%= equipment %></p>
    <% end %>
  </div>
  <div class="btn-booking">
    <a href="">BUY EQUIPMENT 🎿</a>
  </div>
</div>
<% if @booking.chatroom.bookings.count > 1 %>
  <div id='class'>
    <div id='btn-chat'>
    </div>
<div id='chat' class="d-none">
  <div id="chat-header">
    <p id='chat-name'><%= @booking.chatroom.name %></p>
    <i class="fas fa-times"></i>
  </div>
  <div id='chat-content' data-chatroom-id="<%= @booking.chatroom.id %>">
  <% @booking.chatroom.messages.each do |message| %>
        <div class="message <%= "current-user" if message.user == current_user %>"  id="<message-<%= message.id %>">
      <div class="author">
        <%= cl_image_tag message.user.photo.key, class:'chat-user-photo' %>
        <span><%= message.user.first_name %></span>
      </div>
      <div class='message-content'>
        <p><%= message.content %></p>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </div>
    </div>
  <% end %>
  </div>

  <div id='chat-new'>
  <%= simple_form_for [ @booking.chatroom, @message ], method: :post do |f| %>
 <%= f.input :content, label: false, placeholder: "Tape your message" %>
 <%= f.submit "SEND" %>

<% end %>
  </div>
  <% end %>
</div>

