
<div id="home-header"> 
  <h1>Your next adventure starts here</h1>
  <%= simple_form_for :search, url: trips_path, method: :get, html: {class: 'form-inline'} do |f| %>
    <%= f.input :location, placeholder: "Where do you want to go", label: false, id:'search-bar' %>
    <%= f.submit 'go!', class:'btn-big' %>
  <% end %>
</div> 

<div id=home-body>
  <h2>Find the perfect trip for you</h2>
  <h2>Or let us find it for you !</h2>
  <h2>Discover trips around you</h2>
  <h2>Discover best rated trips</h2>
  <h2>Join the crew</h2>
  <div>
    <%= link_to 'create my account', new_user_registration_path, class:'btn-big' %>
  </div>
  <div id='sign_in'>
    <%= link_to 'SIGN IN', new_user_session_path %>
  </div>