<div class="container">
  <div class="avatar-position">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-photo"%>
    <% end %>
  </div>
  <div class="my-info">
    <h2> <%= current_user.first_name %> <%= current_user.last_name %></h2>
    <%= current_user.level %>
  </div>
  <div class="my-stats">
    <p>My stats - this year</p>
    <div class="graph">
    <%= area_chart current_user.trips.group_by_month(:begin_date).sum(:kilometers), width: "200px", height: "150px", stacked: true, dataset: {borderWidth: 2} %>
  </div>
  </div>
  <div class="btn-mytrip">
    <%= link_to "My last trips", dashboard_path(bookings: "last_bookings"), class: "last-trips"  %>
    <%= link_to "My upcoming trips", dashboard_path(bookings: "upcoming_bookings"), class: "upcoming-trips"  %>
  </div>
  <div class="my-booking">
      <% @bookings.each do |booking| %>
        <%= link_to booking_path(booking), class: "booking-card" do  %>
          <%= cl_image_tag booking.trip.photo.key, class: "booking-trip-photo"%>
          <div class="booking-info">
            <%= booking.trip.name %>
            <br>
            <%= booking.begin_date %>
            <br>
            <% if booking.review %>
              <% booking.review.rating.times do %>
                <i class="fas fa-star" style= 'color : rgb(69, 114, 135)'></i>
                <% end %>
              <% (5 - booking.review.rating).times do %>
                <i class="fas fa-star" style= 'color : darkgrey'></i>
              <% end %>
            <% else %>
              <a class="btn btn-primary" id="btn-review">
                Add a review
              </a>
                  <%= render "reviews/new_review", booking: booking %>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
